main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 191px;
    background-color: var(--color-secondary);
    padding: 100px 0;
}

.content-main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content-main h1 {
  font-size: 48px;
  color: var(--color-white);
}

.content-main h1 span {
  color: var(--color-primary);
}
.content-main p {
  font-size: 18px;
  color: var(--color-white);
  width: 587px;
}

.container-btn-main {
  display: flex;
  gap: 20px;
}