.footer {
  background-color: black;
  text-align: center;
  padding: 60px 0;
  width: 100%;
}

.footer p {
  color: #ffff;
  font-size: 20px;
  font-weight: bold;
}

.footer p span {
  color:  #11B0C8;
  font-weight: bold;
}